@tailwind base;
@tailwind components;
@tailwind utilities;


.circle {
  background-image: url('../public/sign-up-img/circle.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: fit-content;
  width: fit-content;
}

.chatbg {
  background-image: url('../public/homepage-img/chatbg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: fit-content;
  width: fit-content;
}

.bg {
  background-image: url('../public/sign-up-img/Screen1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.bg2 {
  background-image: url('../public/sign-up-img/Screen2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
